fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
streamlit
redis
python-dotenv
openai
python-jose[cryptography]
requests
httpx
pydantic
langgraph
langchain
langchain-core
langchain-openai
langsmith
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
langgraph-checkpoint-redis
python-keycloak
authlib 
streamlit-oauth
itsdangerous
langchain-mcp-adapters